footer{
    background-color: #23272f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

footer h3{
    margin-bottom: 1.2em;
}

footer span{
    font-weight: bold;
    color: white;
}