<nav>
    <a routerLink="/" class="brand">
      <img src="/assets/img/" alt="">
      <div class="d-flex gap-2">
        <h4>CursoMAX</h4>
      </div>
    </a>
    <button class="menu-toggle" (click)="toggleMenu()">
      ☰
    </button>
  
    <ul class="links justify-items-center" [ngClass]="{'show': isMenuOpen}">
      <li><a routerLink="/" (click)="closeMenu()">Home</a></li>
      <li><a routerLink="/cursos" (click)="closeMenu()">Todos os Cursos</a></li>
      <li><a routerLink="/cursos/contribuir" (click)="closeMenu()">Contribuir</a></li>
    </ul>
  </nav>
  