<nav>
    <a routerLink="/" class="brand">
        <img src="/assets/img/" alt="">
        <div class="d-flex gap-2">
            <h4>CursoMAX </h4>
        </div>
    </a>
    <ul class="links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/cursos">Todos os Cursos</a></li>
        <li><a routerLink="/contribuir">Contribuir</a></li>
        <!-- <li><a routerLink="/admin/new">Adicionar Curso</a></li> -->
        <!-- <li><a routerLink="/auth/login">Login</a></li> -->
    </ul>
</nav>