nav{
    /* background-color: #212529; */
    /* background-color: #121C2A; */
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.301);
    height: 16px;
}

.brand, .links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img{
    width: 40px;
    margin-right: .6em;
}

.links li{
    margin-right: 1em;
    list-style: none;
}

.links a{
    padding: .1em .3em;
}



a:hover{
    color: #0077B6;
  
}