/* .home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-container h1{
    margin-bottom: .5em;
} */
/* .main-home{
    display: flex;
    flex-direction: column;
} */
.carousel-container {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
  
.carousel-slide {
    width: 80%; 
    height: 100%;
}
  
carousel {
    width: 100%;
    height: 100%;
}
  
slide {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.carousel-img {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.carousel-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px; 
}
  
.carousel-description {
    position: absolute;
    bottom: 10%; 
    width: 100%;
    background: rgba(0, 0, 0, 0.6); 
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}
  
/* .search-container{
    margin-bottom: 2em;
    width: 100%;
}

.search-container form{
    width: 30%;
    position: relative;
}

.search-container fa-icon{
    position: absolute;
    top: 8px;
    left: 8px;
}

.search-container input{
    padding: .5em;
    width: 100%;
    text-align: center;
} */