<div class="search-container">
    <form class="m-4">
        <input type="text" placeholder="Buscar curso..."
        (input)="search($event)"
        class="p-1 w-100"> 

    </form>
    <!-- <div class="m-4">
        <input type="search" placeholder="Buscar curso..."
        class="p-1 w-100"
        [(ngModel)]="filter"
        > 
    </div> -->
</div>
<div class="course-container">
    <a class="course" routerLink="/cursos/novo" *ngIf="isLogged()"> + </a>
    <div class="course" *ngFor="let course of courses"> 
        <a href="{{ course.url }}" target="_blank">
            <div class="course-img">
                <img src="{{ course.img }}" alt="{{course.ttl}}">
            </div>
        </a>
        <h4>{{ course.ttl }}</h4> 
        <p class="date">Data de Lançamento: {{course.dt_lcmt}}</p>
        <p>Duração: {{ course.cghr }} horas</p>
        <p>{{ course.dett }}</p>
        <p><a href="{{course.url}}" target="_blank">Acessar <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
        <a [routerLink]="['/curso', course.id]"><p>Detalhes</p></a>
    </div>
</div>
