@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');
.carousel-slide {
    transition: transform 0.6s ease-in-out;
}

.carousel-inner {
    overflow: hidden;
}

html, body{
    width: 100% !important;
    overflow-x: hidden;
}

body{
    background-color: #01080E;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    color: #EAEAEA;

}

a{
    text-decoration: none;
    color:white;
    transition: .4s;

}

a:hover{
    color: #0077B6;
}

/*FORM*/

form{
    width: 450px;
    margin: 0 auto;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-group label{
    font-weight: bold;
    font-size: .9em;
    margin-bottom: .4em;
}

.form-group input,
.form-group textarea{
    padding: .6em;
    color: #777;
    font-size: .8em;
}
textarea{
    resize: none;
    height: 100px;
}

input, textarea{
    color: #fff;
    background-color: #01080E;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.301);
    border-radius: 4px;

}
input:focus, textarea:focus{
    outline: none;
    box-shadow: rgba(10, 50, 90, 0.4) 2px 2px,  
            rgba(10, 50, 90, 0.3) 4px 4px,  
            rgba(10, 50, 90, 0.2) 6px 6px,  
            rgba(10, 50, 90, 0.1) 8px 8px,  
            rgba(10, 50, 90, 0.05) 10px 10px;
}

input[type="submit"], .register{
    background-color: #01080E;
    border: 1px solid rgba(255, 255, 255, 0.301);
    padding: .6em 1em;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: .4s;
    margin: 10px;
}
.register a{
    color: #01080E;
}

input[type="submit"]:hover{
    color:white;
    border-color: white;
    background-color: #0066b9;
    
}
.register:hover{
    color:white;
    border-color: white;
    background-color: #0066b9;
}

.validation-error p{
    color: #dc3545;
    margin-top: .4em;
    border-left: 3px solid #dc3545;
    padding-left: .2em;
}

/*Buttons*/
.edit-btn,
.remove-btn{
    border: 1px solid #EFEFEF;
    padding: .4em 1em;
    font-size: 1em;
    margin: 0 .5em;
    cursor: pointer;
    background-color: #fff;
    transition: .4s;
}

button fa-icon,
a fa-icon{
    margin-right: .2em;
}

.edit-btn, .edit-btn path{
    border-color: #007BFF;
    color: #007BFF;
}

.edit-btn:hover, .edit-btn:hover path{
    color: #fff;
    background-color: #007BFF;
}

.remove-btn, .remove-btn path{
    border-color: #dc3545;
    color: #dc3545;
}

.remove-btn:hover, .remove-btn:hover path{
    color: #fff;
    background-color: #dc3545;
}


/* .course-container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
} */
.course{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.301);
}
.course{
    transition: all .5s ease;
}

.course:hover {
    /* box-shadow: 0 0 10px 6px rgba(255, 255, 255, 0.301); */
    /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
    box-shadow: rgba(10, 50, 90, 0.4) 2px 2px,  
            rgba(10, 50, 90, 0.3) 4px 4px,  
            rgba(10, 50, 90, 0.2) 6px 6px,  
            rgba(10, 50, 90, 0.1) 8px 8px,  
            rgba(10, 50, 90, 0.05) 10px 10px;

}

.course-img{
    width: 100%;
    height: 25vh; 
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.course-img img{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    object-position: center center; 
    border-radius: 2%;
}

.course h3, .course p, .course a{
    margin-bottom: 1em;
    /* background-color: #23272f; */
    /* background-color: #000000; */
    border-radius: 5px;
}

.course .date{
    font-size: .7em;
    font-style: italic;
}

.btn.btn-dark{
    background-color: #121C2A !important;
}

.text-warning{
    color:#F2A007 !important; 
}

.toast-success {
    background-color: #28a745 !important; 
    color: white !important;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.toast-warning {
    background-color: #ffc107 !important; /* Amarelo Warning */
    color: black !important;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
  
.toast-error {
    background-color: #dc3545 !important; /* Vermelho Erro */
    color: white !important;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#toast-container {
    top: 20px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: auto !important;
}

@media(max-width: 786px){
    
}