<form [formGroup]="form" class="d-flex flex-column" *ngIf="isLogged(); else login">
    <label for="ttl">Titulo</label>
    <input type="text" formControlName="ttl" id="ttl">
    <label for="dt_lcmt">Data de lançamento</label>
    <input type="date" formControlName="dt_lcmt" id="dt_lcmt">
    <label for="dett">Detalhes</label>
    <!-- <input type="textarea" formControlName="dett" id="dett"> -->
    <textarea formControlName="dett" id="dett"></textarea>
    <label for="cghr">Carga Horária</label>
    <input type="number" formControlName="cghr" id="cghr">
    <label for="img">Url da Imagem</label>
    <input type="text" formControlName="img" id="img">
    <label for="url">Url do Curso</label>
    <input type="text" formControlName="url" id="url">
    <label for="emp">Empresa</label>
    <input type="text" formControlName="emp" id="emp">
    <label for="tip">Tipo do Curso</label>
    <input type="text" formControlName="tip" id="tip">
    <label for="ntc">Notícia</label>
    <input type="text" formControlName="ntc" id="ntc">
    <div class="d-flex gap-2 mt-2 mb-4">
      <button class="btn btn-dark" (click)="updateCourse()" [disabled]="!form.valid">Salvar</button>
      <button class="btn btn-danger" (click)="cancel()">Cancelar</button>
    </div>
    <div class="text-warning m-2 p-2 d-flex justify-content-center" *ngIf="!form.valid">
        Todos os campos são obrigatórios
    </div>
  </form>

<ng-template #login>
  <div class="container d-flex justify-content-center align-items-center m-4">
      <a routerLink="/auth/login"><button class="btn btn-dark">Fazer login</button></a>
  </div>
</ng-template>